**/.DS_Store
**/build
**/obj
**/libs
**/__pycache__
**/.vs
**/.gradle
**/.cxx
**/*.spv
**/wmwhite.xcuserdatad
vulkan/apple/*
vulkan/include/*
vulkan/windows/*
docs
token.txt
analysis
temp
release
old
experiments